.btn {
  padding: 5px 7px;
  margin-bottom: 15px;

  min-width: 100px;

  font-family: Roboto, sans-serif;

  color: white;
  background-color: grey;

  border: none;
  outline: none;
  border-radius: 5px;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn:hover,
.btn:focus {
  background-color: orange;
  color: black;
}

.feedbackBtns {
  margin-bottom: 15px;
}
